HASURA_GRAPHQL_ENDPOINT=<address>:<port>/v1/graphql
HASURA_GRAPHQL_ADMIN_SECRET=aYlbIWa8qds1EHhVzgQc1gwxd3RkqPh5134Qcb00J7QwiPORszwTV7Vp05Fa6hCJ

JWT_SECRET=a3f8d92e7b04c51e5a7c6f8d934b8c1d0f2e5a7b8c9d0e1f2a3b4c5d6e7f809a1b2c3d4e5f60718

EMAIL_HOST=smtp.163.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_ADDRESS=
EMAIL_PASSWORD=

（以下备注请在生产环境中删除）
注：不同邮箱提供商的配置方法不同，请参考对应的文档或邮箱设置；
- 部分邮箱需要手动开启 SMTP 服务；
- 部分邮箱的密码（包括清华邮箱）填的是设备授权码，而不是账号密码；
- 部分邮箱需要 OAuth2 或其他身份验证，请参考 https://nodemailer.com/smtp/oauth2/
